<%- include('../header.ejs') %>
<body>
    <h1>Delete item</h1>
    <h2>Name: <%= beautyProductToBeDeleted.name %></h2>
    <h2>Brand: <%= beautyProductToBeDeleted.brand %></h2>
    <h2>Price: $<%= beautyProductToBeDeleted.price %></h2>
    <form action="/beautyProducts/<%= idx %>?_method=DELETE" method="POST">
        <input type="submit" value="Are you sure?">
    </form>
</body>
</html>