<%- include('../header.ejs') %>
<body>
    <h1>Please fill out below form</h1>
    <form action="/beautyProducts/<%= idx %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= beautyProductToBeEdited.name %>">
        <br>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" id="brand" value="<%= beautyProductToBeEdited.brand %>">
        <br>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" value="<%= beautyProductToBeEdited.price %>">
        <br>
        <input type="submit" value="Submit Change">
    </form>
</body>
</html>
